body{
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  text-align: center;
  
}
.project-list{
  padding: 0;
  display: grid;
  row-gap: 10px
}
.project-list li{
  list-style-type: none;
  margin-inline: auto;
  width: 11em;
}
.project-list li a{
  text-decoration: none;
  color: #000;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  
}
.project-list li a::after{
  content: "";
  width: 1em;
  height: 1em;
  background-image: url(./images/arrow.svg);
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

@media (min-width: 1024px){
  h1{
    font-size: 3rem;
  }
  .project-list li{
    font-size: 1.25rem;
  }
}